# Repositories
OpenQ-Frontend/
OpenQ-DRM-Frontend/
OpenQ-Oracle/
OpenQ-Contracts/
OpenQ-CoinAPI/
OpenQ-Helm/
OpenQ-JSON-RPC-Node/
OpenQ-Kubeconfig/
OpenQ-Codemetrics/
OpenQ-CertManager/
OpenQ-Graph/
OpenQ-Github-OAuth-Server/
OpenQ-Graph-Node/
OpenQ-Bot/
OpenQ-Architecture/
OpenQ-OZ-Claim-Autotask/
OpenQ-Careers/
OpenQ-API/
OpenQ-Github-Proxy/
OpenQ-Documentation/
OpenQ-Bounty-Actions-Autotask/
OpenQ-Event-Listener/
OpenQ-Token-Price-Cron-Job/
Superfluid-Subgraph/
OpenQ-Squad/
OpenQ-Dojo/
OpenQ-Logging/
OpenQ-Codemeter/
OpenQ-User-Registration/
OpenQ-Espresso/
OpenQ-Email-Server/
OpenQ-Document-Manager/
OpenQ-Notification-Autotask/
OpenQ-Synpress/

# Data from The Graph Node's Postgres and IPFS
data/
ipfs/
postgres/

nohup.out

dump.rdb
.env

# For when people run yarn in the wrong directory level :-) Got your back homies
node_modules/
yarn.lock

.deps

.DS_Store

notes.txt
test/
tmp/
node_modules/

secret.yml
github.txt
notes.json
yarn-error.log
