# Repositories
OpenQ-Frontend/
OpenQ-Oracle/
OpenQ-Contracts/
OpenQ-CoinAPI/
OpenQ-Helm/
OpenQ-JSON-RPC-Node/
OpenQ-Kubeconfig/
OpenQ-CertManager/
OpenQ-Graph/
OpenQ-Github-OAuth-Server/
OpenQ-Graph-Node/
OpenQ-Bot/
OpenQ-Architecture/
OpenQ-OZ-Claim-Autotask/
OpenQ-Careers/
OpenQ-API/
OpenQ-Github-Proxy/
OpenQ-Documentation/

# Data from The Graph Node's Postgres and IPFS
data/
ipfs/
postgres/

# For when people run yarn in the wrong directory level :-) Got your back homies
node_modules/
yarn.lock

.deps

.DS_Store